<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3947aef1e2.js" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/commonStyles.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
  </head>
  <body>
    <header><%- include("modules/navbar.ejs") %></header>
    <main>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-3">
                    <form action="/hospital/login" method="post">
                        <h3>Formulario login</h3>
                        <div class="mb-3">
                          <label for="inputEmail" class="form-label">Email: </label>
                          <input 
                            type="text" 
                            class="form-control" 
                            id="inputEmail" 
                            aria-describedby="emailHelp"
                            name="email"
                           >
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña: </label>
                            <input 
                              type="text" 
                              class="form-control" 
                              id="inputPassword"
                              name="password"
                            >
                          </div>
                          
                        <p style="color: red;" ><%= typeof message != 'undefined'? message:null %></p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button 
                            type="button" 
                            class="btn btn-primary"
                            onclick="window.location.href='/'"
                        >Cancel</button>
                        <p>Crear una cuenta nueva <a href="/hospital/register">Registrate aquí</a></p>
                      </form>
                </div>
            </div>
        </div>
    </main>
    <footer><%- include("modules/footer.ejs") %></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>